@define-mixin button-variant $color, $background-color, $border-color ,
$hover-color, $hover-fill,$hover-border,
$active-color, $active-fill, $active-border,
$focus-color, $focus-fill, $focus-border{/*wbx add begin*/
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background: $hover-fill;
    border-color: $hover-border;
    color: $hover-color;
  }
  &:focus {
    border-color: $focus-border;
  }
  &:active {
    background: $active-fill;
    border-color: $active-border;
    color: $active-color;
    outline: none;
  }
    /*wbx edit end*/
  &.is-active {
    background: shade($background-color, var(--button-active-shade-percent));
    border-color: shade($border-color, var(--button-active-shade-percent));
    color: $color;
  }

  &.is-plain {
    /*background: var(--button-default-fill);*/
    border: var(--border-base);
    color: var(--color-white);

    &:hover,
    &:focus {
      background: var(--color-white);
      border-color: $border-color;
      color: $background-color;
    }

    &:active {
      background: var(--color-white);
      border-color: shade($border-color, var(--button-active-shade-percent));
      color: shade($background-color, var(--button-active-shade-percent));
      outline: none;
    }
  }
}

@define-mixin button-size $padding-vertical, $padding-horizontal, $font-size, $border-radius, $min-width {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  min-width: $min-width;

}
