@charset "UTF-8";
@import "./input.css";
@import "./common/var.css";

@component-namespace el {
  @b input-number {
    display: inline-block;
    width: 100%;/*--wbx edit--*/
    position: relative;
    height:32px;

    & .el-input {
      display: block;
    }
    & .el-input__inner {
      appearance: none;
      /*padding-right: calc(var(--input-height) * 2 + 10);*/
      text-align: center;
    }
    &.is-controls-right {
      width: 65px;
     }
  &.is-controls-right .el-input .el-input__inner {
     text-align: left;
   }
    &.is-controls-right .el-input-number__decrease {
      right: 1px;
      bottom: auto;
      top: 1px;
      left: auto;
      border-radius: 0 0 4px 0;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      .icon-arrow-left {
        transform:rotate(90deg);
        -ms-transform:rotate(90deg); 	/* IE 9 */
        -moz-transform:rotate(90deg); 	/* Firefox */
        -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
        -o-transform:rotate(90deg);
      }
    }

    &.is-controls-right .el-input-number__increase {
      right: 1px;
      bottom: 1px;
      top: auto;
      left: auto;
      border-radius: 0 0 4px 0;
      height: 16px;
      line-height: 16px;
      font-size: 12px;

      .icon-arrow-right {
        transform:rotate(90deg);
        -ms-transform:rotate(90deg); 	/* IE 9 */
        -moz-transform:rotate(90deg); 	/* Firefox */
        -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
        -o-transform:rotate(90deg);
      }
    }
    @e increase, decrease {
      height: auto;
      border-left:none; /*--wbx edit--*/
      width: var(--input-height);
      line-height: calc(var(--input-height) - 2);
      top: 1px;
      text-align: center;
      color: var(--color-black);
      cursor: pointer;
      position: absolute;
      z-index: 1;

      &:hover {
        color: var(--color-primary);
        &:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
          border-color: var(--input-focus-border);
        }
      }

      @when disabled {
        color: var(--disabled-border-base);
        cursor: not-allowed;
      }
    }

    @e increase {
      right: 0;
    }
    @e decrease {
      /*right: calc(var(--input-height) + 1px);*/
      left: 0;
      right: 37px;
    }

    @when disabled {
      & .el-input-number__increase, .el-input-number__decrease {
        border-color: var(--disabled-border-base);
        color: var(--disabled-border-base);

        &:hover {
          color: var(--disabled-border-base);
          cursor: not-allowed;
        }
      }
    }
    @m large {
      width: 200px;

      & .el-input-number__increase, .el-input-number__decrease {
        line-height: var(--input-large-height);
        width: var(--input-large-height);
        font-size: var(--input-large-font-size);
      }
      & .el-input-number__decrease {
        right: calc(var(--input-large-height) + 1px);
      }
      & .el-input__inner {
        /*padding-right: calc(var(--input-large-height) * 2 + 10);*/
      }
    }
    @m small {
      width: 130px;

      & .el-input-number__increase, .el-input-number__decrease {
        line-height: var(--input-small-height);
        width: var(--input-small-height);
        font-size: var(--input-small-font-size);
      }
      & .el-input-number__decrease {
        right: calc(var(--input-small-height) + 1px);
      }
      & .el-input__inner {
        /*padding-right: calc(var(--input-small-height) * 2 + 10);*/
      }
    }
    @when without-controls {
      & .el-input__inner {
        padding-right: 10px;
      }
    }
  }
}
