@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b message {
    box-shadow: var(--message-shadow);
    min-width: var(--message-min-width);
    padding: var(--message-padding);
    box-sizing: border-box;
    border-radius: var(--border-radius-small);
    position: fixed;
    right:14px;
    /*left: 50%;*/
    top: 90px;
    transform: translateX(0%);
    background-color: var(--color-white);
    transition: opacity 0.3s, transform .4s;
    overflow: hidden;
    border:1px solid transparent;

    @e group {
      /*margin-left: 38px;*/
      position: relative;
      /*height: 20px;*/
      line-height: 20px;
      display: flex;
      align-items: center;

      @when with-icon {
        margin-left: 0;
      }

      & p {
        font-size: var(--font-size-base);
        /*margin: 0 34px 0 0;*/
        white-space: nowrap;
        color: var(--message-content-color);
        text-align: left;
        margin: 0;
        white-space: normal;
        background-color: #fff;
        padding: 14px;
        width: 100%;
      }
    }
    @e img {
      size: 40px;
      position: absolute;
      left: 0;
      top: 0;
    }

    @e icon {
      vertical-align: middle;
      margin-right: 8px;
    }

    @e closeBtn {
      position: absolute 3px 0 * *;
      cursor: pointer;
      color: var(--message-close-color);
      font-size: var(--font-size-base);

      &:hover {
        color: var(--message-close-hover-color);
      }
    }

    & .el-icon-circle-check {
      color: var(--message-success-color);
    }

    & .el-icon-circle-cross {
      color: var(--message-danger-color);
    }

    & .el-icon-information {
      color: var(--message-info-color);
    }

    & .el-icon-warning {
      color: var(--message-warning-color);
    }
  }
  /*wbx edit*/
  .el-message-message, .el-message-error, .el-message-success, el-message-warning{
    max-width: 400px;
  }
  .el-message-error{
    background-color:var(--color-danger);
  }
  .el-message-success{
    background-color:var(--color-success);
  }
  .el-message-warning{
    background-color:var(--color-warning);
  }
  .el-message-message{
    background-color:var(--color-info);
  }


    @b inline-message{
        position:inherit;
        box-shadow: none;
        border:1px solid var(--color-extra-light-grey);
        padding: 0;
    }
    .el-inline-message-error{
        background-color:var(--color-danger);
    }
    .el-inline-message-success{
        background-color:var(--color-success);
    }
    .el-inline-message-warning{
        background-color:var(--color-warning);
    }
    .el-inline-message-message{
        background-color:var(--color-info);
    }
    .el-inline-message img{
        position:static;
        width: 48px;
    }
    .el-inline-message .el-message__group{
        margin-left: 0;
        height: auto;
    }
    .el-inline-message .el-message__group p{
        margin: 0;
        white-space: normal;
        background-color:var(--color-white);
        padding:12px;
        width: 100%;
    }
    .el-message__group span{
        padding:0 14px;
        /*width: 48px;*/
        text-align: center;
        color:var(--color-white) ;
        font-size:20px;
    }
  .el-message-fade-enter,
  .el-message-fade-leave-active {
    opacity: 0;
    transform: translate(50%, 0%);
  }
}
/*wbx edit*/
