@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b select-group {
    margin: 0;
    padding: 0;

    @e wrap {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @e title {
      font-size: var(--select-group-font-size);
      color: var(--select-group-color);
      height: var(--select-group-height);
      line-height: var(--select-group-height);
      border-bottom:1px solid #EBEBEC;
      margin:0 32px;
    }
    span{
      min-width: 160px;
    }
    & .el-select-dropdown__item {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}
