@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b radio-group {
    display: inline-block;
    font-size: 0;
    line-height: 1;
    vertical-align: middle;

    & .el-radio {
      font-size: var(--radio-font-size);
    }

  }
  @b group-stacked{
     .el-radio{
       display: block;
       margin-left: 0px;
       margin-bottom: 8px;
     }
  }
}
