@import "../common/var.css";

@component-namespace el {
  @b date-range-picker {
    min-width: 520px;

    &.has-sidebar.has-time {
      min-width: 766px;
    }
    &.has-sidebar.has-range {
      min-width: 766px;
    }

    &.has-sidebar {
      min-width: 620px;
    }

    &.has-time {
      min-width: 660px;
    }

    table {
      table-layout: fixed;
      width: 100%;
    }

    .el-picker-panel__body {
      min-width: 513px;
    }

    .el-picker-panel__content {
      margin: 0;
    }

    @e header {
      position: relative;
      text-align: center;
      height: 28px;

      button {
        float: left;
        font-size: 14px;/*--wbx add--*/
        margin: 0px;/*--wbx add--*/
        padding-top: 3px;/*--wbx add--*/
        color: var(--color-dark-grey);
      }

      div {
        font-size: 14px;
        margin-right: 50px;
      }
    }

    @e content {
      float: left;
      width: 50%;
      box-sizing: border-box;
      margin: 0;
      padding: 16px;
      color:var(--input-color);/*-wbx add-*/

      @when left {
        .el-date-range-picker__header {
          display: flex;
          flex-flow: row nowrap;
          line-height: 28px;
          div {
            flex: 1;
            margin-left: 50px;
            margin-right: 50px;
          }
        }
        /*border-right: 1px solid var(--datepicker-inner-border-color);*/
      }

      @when right {
        .el-date-range-picker__header {
          display: flex;
          flex-flow: row nowrap;
          line-height: 28px;
          div {
            flex: 1;
            margin-left: 50px;
            margin-right: 50px;
          }
        }
      }
    }

    @e editors-wrap {
      box-sizing: border-box;
      display: table-cell;

      @when right {
        text-align: right;
      }
      .el-form-item__errorinfo {
        font-size: 12px;
        line-height: 14px;
      }
      .el-form-item__error .icon-ng-inline-error:before {
        font-size: 12px;
      }
    }

    @e time-header {
      position: relative;
      /*border-bottom: 1px solid var(--datepicker-inner-border-color); -wbx remove*/
      font-size: 12px;
      display: table;
      width: 100%;
      box-sizing: border-box;

      > .el-icon-ng-right {
        font-size: 20px;
        vertical-align: middle;
        display: table-cell;
        color: var(--datepicker-icon-color);
      }
    }
    @e time-btn {
        position: absolute;
        bottom: 15px;
        left: 15px;

        .el-button{
          font-size: 14px;
          height: 30px;
          padding:6px 16px;
          width: 110px;
        }
    }
    @e time-title {
        width: 102px;
        display: inline-block;
        margin:0px 5px 0 5px;
        line-height: 30px;
        font-size: 14px;
        color:var(--color-black);
    }
    @e time-picker-wrap {
        position: relative;
        display: table-cell;
        padding: 0 5px;

      .el-picker-panel {
        position: absolute;
        top: 13px;
        right: 0;
        z-index: 1;
        background: var(--color-white);
      }

      .el-form-item {
        margin-bottom: 0px;
      }
    }
  }
}
